:root {
  --primary: #642c99;
  --secondary: #fbfac9;
  --tertiary: #f7cfda;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FBFBCA;
  color: var(--primary);
  font-family: 'Lato', Helvetica Neue, sans-serif;
  font-size: 2.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}


h1 {
  color: var(--primary);
  font-family: 'Wendy One', sans-serif;
  font-size: 12rem;
}

button {
  background-color: var(--primary);
  border: 0.4rem solid var(--primary);
  border-radius: 0.8rem;
  color: var(--secondary);
  cursor: pointer;
  display: grid;
  font-size: 1.6rem;
  place-items: center;
  min-height: 4rem;
  min-width: 20rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: transparent;
  color: var(--primary);
}
