.hero {
  background-color: var(--secondary);
  position: relative;
}

.header {
  align-items: center;
  background-color: var(--tertiary);
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 15rem;
  padding: 0 4rem;
}

.links {
  display: flex;
  gap: 6rem;
  justify-content: flex-start;
}

.cart {
  height: 4rem;
  margin-left: auto;
  position: relative;
  width: 4rem;
}

.cart * {
  width: 100% !important;
}

.cart > a {
  display: block;
}

.cart svg {
  color: aqua;
}

.banner {
  align-items: center;
  background-color: var(--tertiary);
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.presentation {
  max-width: 50%;
  margin-left: auto;
}

.introduction {
  margin: 2.4rem 0;
}

.image {
  min-height: clamp(50rem, 40vw, 70rem);
  position: relative;
  width: clamp(40rem, 35vw, 60rem);
}

.image * {
  width: 100% !important;
}

.curves {
  width: 100%;
}

.why {
  background-color: var(--green);
  position: relative;
}

.content {
  align-items: center;
  background-color: var(--secondary);
  display: grid;
  gap: 20rem;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
}

.informationWhy {
  max-width: 80%;
}

.title {
  font-size: 9.6rem;
}

.imageWhy {
  display: grid;
  grid-gap: 1.6rem;
  margin-left: auto;
  position: relative;
  width: 40rem;
}

.imageWhy * {
  width: 100% !important;
}

.description {
  margin: 2.4rem 0;
}

.catalog {
  background-color: var(--beige);
  display: grid;
  justify-content: center;
}

.catalogContent {
  background-color: var(--green);
  width: 100%;
}

.products {
  margin: auto;
  width: 70%;
}

.titleCatalog {
  font-size: 8.8rem;
  max-width: 50%;
}

.list {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 8rem auto;
}

.about {
  background-color: var(--primary);
  position: relative;
}

.aboutContent {
  align-items: center;
  background-color: var(--beige);
  display: grid;
  gap: 5rem;
  grid-template-columns: 55% 40%;
  padding: 4rem;
  width: 100%;
}

.informationAbout {
  margin-left: auto;
  max-width: 80%;
}

.imageAbout {
  display: grid;
  margin-right: auto;
  position: relative;
  width: 50rem;
}

.imageAbout > span {
  height: 70rem !important;
  width: auto !important;
}

.imageAbout * {
  overflow: visible !important;
  bottom: 50% !important;
}
